body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #E5B831;
}

.table td,.table th{
  padding:12px 15px;
  text-align: center;
  font-size:16px;
	border: 1px solid #E5B831;
}

.table th,
.table td:first-child{
	background-color: #000;
	color: #E5B831;
	text-transform: capitalize;
}


.table td[data-label]:hover{
	background-color: #E5B831;
	cursor: pointer;
}

/*responsive*/

@media(max-width: 500px){
	.table{
		border: none;
	}
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}

	.table tr{
		margin-bottom:15px;
	}

	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}

	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}

	.table td:first-child{
		padding-left: 0;
		text-align: center;
	}

}







