*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

.logo{  
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2rem;
}

.nav_links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.nav_links a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.nav_links li:hover{
   border-bottom:2px solid salmon ;
}

.nav_links li{
    list-style: none;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger:hover{ background-color: salmon;}

@media screen and (max-width: 1000px){
    .nav_links{
        width: 60%;
    }
} 

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}